body {
    /* fallback for old browsers */
    background: #F3904F;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #af5019, #F3904F, #EBA03C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #af5019, #F3904F, #EBA03C);
}